In [1]:
import pandas as pd
from tqdm import tqdm

import re

In [2]:
df = pd.read_excel("realec_errors.xlsx",
                  engine='openpyxl')

In [3]:
df.to_csv("realec_errors.csv")
df = pd.read_csv("realec_errors.csv")

In [4]:
df.head()

,Unnamed: 0,id,Sentence,Right answer,Error type,Corrected,Random
0,0,51175,"Actually, it is an old tradition of <b>distri...",spreading,lex_item_choice,"Actually, it is an old tradition of spreading...",0.999965
1,1,36478,The graph given to us represents the informati...,the world's investment,Articles,The graph given to us represents the informati...,0.999928
2,2,6697,"Now, letвЂ™s take a look <b>on</b> the situat...",at,Prepositions,"Now, letвЂ™s take a look at the situation in ...",0.999912
3,3,76371,Here we can see five lines which <b>shows</b>...,show,Tense_choice,Here we can see five lines which show us how ...,0.999907
4,4,67749,"Moreover, they need money to feed their child...",this money,Countable_uncountable,"Moreover, they need money to feed their child...",0.999901

In [5]:
tqdm.pandas()

c:\users\k1l77\desktop\182e~1\term_p~1\lib\site-packages\tqdm\std.py:699: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [6]:
df['Error span'] = df['Sentence'].progress_apply(lambda x:\
                                                re.search('<b>(.*?)</b>',
                                                         x).group(1))

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 81765/81765 [00:00<00:00, 131543.53it/s]

In [7]:
df.head()

,Unnamed: 0,id,Sentence,Right answer,Error type,Corrected,Random,Error span
0,0,51175,"Actually, it is an old tradition of <b>distri...",spreading,lex_item_choice,"Actually, it is an old tradition of spreading...",0.999965,distribution
1,1,36478,The graph given to us represents the informati...,the world's investment,Articles,The graph given to us represents the informati...,0.999928,world's investment
2,2,6697,"Now, letвЂ™s take a look <b>on</b> the situat...",at,Prepositions,"Now, letвЂ™s take a look at the situation in ...",0.999912,on
3,3,76371,Here we can see five lines which <b>shows</b>...,show,Tense_choice,Here we can see five lines which show us how ...,0.999907,shows
4,4,67749,"Moreover, they need money to feed their child...",this money,Countable_uncountable,"Moreover, they need money to feed their child...",0.999901,these money

In [8]:
df.to_csv("realec_errors.csv")

In [9]:
from annotate_level import annotate_level

In [10]:
df1 = df.loc[df['Error span'].apply(lambda x: type(x) == str)]

In [11]:
df1.loc[df1['Sentence']==' Next 12 years the number of boys dropped to <b>5,1</b> millions and girls - to 4.8 millions.']

,Unnamed: 0,id,Sentence,Right answer,Error type,Corrected,Random,Error span
45,45,36833,Next 12 years the number of boys dropped to <...,2020-01-05 00:00:00,Numerals,Next 12 years the number of boys dropped to 5...,0.999433,"5,1"

In [12]:
levels = annotate_level(df1.iloc[:5000])

c:\users\k1l77\desktop\182e~1\term_p~1\lib\site-packages\tqdm\std.py:699: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:10<00:00, 484.05it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:00<00:00, 17675.48it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:00<00:00, 12342.20it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:00<00:00, 8675.86it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:01<00:00, 3136.32it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:06<00:00, 719.98it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:09<00:00, 521.00it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:02<00:00, 1721.51it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:00<00:00, 16002.50it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5000/5000 [00:00<00:00, 17676.93it/s]

In [13]:
levels

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 3, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [14]:
levels = levels.sum(axis=0)

In [15]:
pd.Series(levels).value_counts()

0    1672
1    1278
2    1044
3    1006
dtype: int64

In [16]:
df11 = df1.iloc[:5000]
df11['level'] = levels
df11.to_excel("level_annotated_sample.xlsx")

c:\users\k1l77\desktop\182e~1\term_p~1\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy